*/__pycache__/
*/*.mp4 
*/*.csv 
*/particles/ 
*/particles-*/
*/movie/ 
*/movie-*/
*/*.png
.venv/
ChronoRay.egg-info/
ex5-synchrono-ray-coupled/logs/
ex5-synchrono-ray-coupled/results/coupled*
ex5-synchrono-ray-coupled/results/coupledmg*